.title{
    font-size:30px;
    color:#003266;
}
#nav{

    background-color:#003266;
}
.txtCol{
    color:white;
}
.txtBlack{
    color: black;


}
.all{
    background-color:#dcdcdc;
}
.alltwo{
    background-color: white;
}
.panelcol{
    background-color:#003266;
    padding: 10px;
    border-bottom: 2px solid #003266;
}
.moreCol{

    padding: 10px;

}
.paddN{
    padding: 0px;
}
.padd15{
    padding-left: 15px;
}
.href{
    float: left;


}
.href2{

    float: right;


}
.item1{
    background-color: #fff3e5;
    width: 70%;
    height: 95%;
}
.navbar-default .navbar-nav li a {
    color: white;
}
.footer{
    background-color: dimgray;
    text-align: center;
    padding: 10px;
}
.center-block{
    color: white;
}
.panelcol2{
    background-color: #fff3e5;
    padding: 10px;
    border-bottom: 2px solid #003266;
}
#localtime{
    padding-top: 15px;
}

.big{
    margin-top: 10px;



}
.bj{
    padding-top: 2px;

}



.bgp{
    background-color: #fff3e5;
    border-bottom: 2px solid #003266;
    height: 42px;
    padding: 0px;
}
.omit{

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-indent: 2em;
}
.indent{
    text-indent: 1em;
}
.bj a{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    height: 16px;





}
